<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="writer" class="ru.otus.writer.ConsoleWriter"/>
    <bean id="reader" class="ru.otus.reader.ConsoleReader"/>
    <bean id="questionsDao" class="ru.otus.dao.ClasspathCsvQuestionDao">
        <constructor-arg value="/questions.csv"/>
    </bean>

    <bean id="pollService" class="ru.otus.service.PollService">
        <constructor-arg ref="writer" index="0"/>
        <constructor-arg ref="reader" index="1"/>
        <constructor-arg ref="questionsDao" index="2"/>
    </bean>
</beans>