<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Список книг</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .authors, .authors td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1>Книги:</h1>

<table class="authors">
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Описание</th>
        <th>Жанры</th>
        <th>Авторы</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}">1</td>
        <td th:text="${book.title}">Название</td>
        <td th:text="${book.description}">Описание</td>
        <td th:text="${book.genreNames()}">Фантастика</td>
        <td th:text="${book.authorsFio()}">А.С. Пушкин</td>
        <td>
            <a th:href="@{'/book/' + ${book.id}}" href="book.html">Редактировать</a><br>
            <a th:href="@{'/delete-book/' + ${book.id}}" href="author.html">Удалить</a><br>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/book}" href = "book.html">Добавить книгу</a>
</body>
</html>
